<%- include("header.ejs") %>

<%- include("nav.ejs") %>

<div role="main" class ="container">
    <br>
    <br>

    <h2>Welcome to Bout-Time!</h2>
    <h3>Bringing fighting game tech to the masses!</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut odio eleifend, cursus massa eget, condimentum risus. Vestibulum venenatis nulla eget dolor vestibulum accumsan. Suspendisse ligula neque, suscipit sit amet congue vitae, sagittis vitae metus. Nunc sem lectus, sagittis non maximus sit amet, convallis non purus. Vestibulum dignissim eu diam ac consequat. Maecenas a est sit amet tortor consectetur finibus. Nullam a nisl metus. In efficitur varius felis. Suspendisse justo neque, molestie vel lectus sit amet, tempus dapibus purus. Etiam blandit diam nec convallis efficitur. Nunc eu mollis nibh. Morbi ac congue orci. <br> <br>

        Nunc a vulputate quam, nec facilisis quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vulputate venenatis velit, quis ultrices orci eleifend sed. Maecenas blandit in lorem ultricies fermentum. Aliquam imperdiet turpis vitae orci finibus luctus. Donec posuere est sit amet augue bibendum, sit amet vestibulum erat maximus. Nulla et rhoncus purus. Curabitur maximus pellentesque sem nec venenatis. Donec rhoncus placerat blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sed eros vel purus suscipit finibus. Morbi at tellus id elit semper fringilla quis congue elit. Curabitur ultricies, nisl ut finibus egestas, enim massa semper nulla, non convallis enim ipsum aliquet ante. <br>  <br>  
        
        Phasellus laoreet tortor nec rutrum molestie. Nullam a mollis dui, eu finibus urna. Aenean id feugiat nulla, et elementum dui. Donec lorem tortor, iaculis ac ullamcorper quis, lacinia id justo. Aenean mollis lacus dui, nec fringilla sem pretium ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis rutrum risus id placerat. Cras non lorem at leo maximus faucibus. Morbi ultrices porttitor libero non posuere. Integer sit amet elit nulla. Fusce consequat varius purus. Proin purus mi, tempor porta tortor ut, molestie malesuada justo. Etiam laoreet viverra semper. Donec elementum eu justo et hendrerit. Aliquam ut sem odio.</p>
</div>

<%- include("footer.ejs") %>